.posts-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
}

.post-card {
	width: 70vw;
	padding: 40px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
	display: flex;
	align-items: flex-start;
}

.post-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

.post-user-info {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.post-user-name {
	margin: 0;
	font-weight: bold;
	font-size: 16px;
}

.post-company-name {
	margin: 0;
	color: #666;
	font-size: 14px;
}

.post-details {
	flex: 2;
	display: flex;
	flex-direction: column;
	overflow-x: scroll;
}

.post-updated-at {
	margin: 0;
	color: #999;
	font-size: 14px;
}

.post-content {
	font-size: 16px;
	color: #333;
	margin-top: 10px;
}

.edited-label {
	font-size: 12px;
	color: #999;
}

.post-menu {
	display: flex;
	gap: 10px;
	margin-left: auto;
}

.icon-button {
	background: none;
	border: none;
	color: #000;
	cursor: pointer;
	font-size: 20px;
	padding: 0;
	font-size: 2em;
}

.delete-button {
	color: darkred;
}

.edit-button {
	opacity: 1;
	color: #007bff; 
}

.icon-button:hover {
	color: #007bff; /* Change color on hover */
}

.new-post-editor {
	margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.new-post-editor .ql-container {
	border-radius: 5px;
	height: auto;
	min-height: 200px; /* Increase the height of the editor */
	padding: 0; /* Remove padding inside the Quill container to match input style */
	background-color: #fff; /* White background for the editor */
}

.new-post-editor .ql-toolbar {
	background: #eaecec;
	border-radius: 5px 5px 0 0;
}

.new-post-editor .post-button {
	width: 100px;
	margin-top: 20px;
	padding: 10px 20px;
	opacity: 1;
	background-color: #007bff; /* #28a745; */
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.new-post-editor .post-button:hover {
	/* background-color: #218838; */
	background-color: rgba(0,51,153,255);
}

.toggle-editor-button {
	margin-top: 20px;
	padding: 10px 20px;
	opacity: 1;
	background-color: #007bff;
	opacity: 1;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.toggle-editor-button:hover {
	background-color: rgba(0,51,153,255);
}

.edit-mode {
	margin-top: 20px;
	background-color: #f9f9f9; /* Light grey background for the edit mode */
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.edit-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.save-button {
	/* background-color: #28a745; */
	opacity: 1;
	background-color: #007bff; 
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 16px;
}

.save-button:hover {
	/* background-color: #218838; */
	background-color: #0056b3;
}

.cancel-button {
	background-color: #dc3545;
	opacity: 1;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 16px;
}

.cancel-button:hover {
	background-color: #c82333;
}

.back-buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    padding: 0 10px; /* Add padding if necessary */
    gap: 20px; /* Add gap to create space between the buttons */
}

.back-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.back-button:hover {
    background-color: rgba(0,51,153,255);
}

.clickable-text {
	color: #007bff; /* Bootstrap primary color */
	cursor: pointer;
	/* text-decoration: underline; */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    /* background: none; */
    /* border: none; */
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
}

.pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-pages {
    display: flex;
    gap: 5px;
}

.pagination-page-number {
    /* background: none; */
    /* border: none; */
    cursor: pointer;
    font-size: 16px;
}

.pagination-page-number:disabled {
    cursor: not-allowed;
    font-weight: bold;
    text-decoration: underline;
}

.filter-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-container label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.filter-container select {
    margin-top: 5px;
    padding: 5px;
}

.filter-label {
	color: white;
}

.order-select {
	color: #999;
}

.post-documents {
	
	a:hover {
		color: #0056b3;
		text-decoration: underline;
	}

	a {
		color: #007bff;
	}
	
}