
#DashboardRecentActivity h4 {
	text-align: center !important;
	margin-bottom: 30px;
	margin-top: 30px;
}

#DashboardRecentActivity h4 > i {
	margin-bottom: 10px;
	font-size: 35px;
}

.dashboard-background {
	background-color: rgba(255,255,255,.8);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  margin: 10px 0px;
  padding: 20px;
}